<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Perpustakaan</title>
</head>
<body>
    <!---navbar---->
    <header class="header">
        <a class="logo">Admin Perpustakaan</a>

        <nav class="navbar">
            <a href="login.ejs">Logout</a>
        </nav>
    </header>
    <div>
        <h1>Catalog</h1>
        <p>Tambahkan, lihat, perbarui, atau hapus buku sesuai kebutuhan.
            Pastikan data katalog selalu akurat dan terkini.</p>
    </div>

</body>
</html>