<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            LOGO
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="<%= url %>login">Login</a>
        </nav>
    </header>

    <div class="hero">
        <div class="hero-content">
            <h1>Selamat Datang!</h1>
            <p>Temukan berbagai koleksi buku menarik yang siap menemani perjalanan literasi Anda.</p>
            <a href="<%= url %>pinjam" class="btn">Peminjaman Buku</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Project Kelompok 3</p>
    </footer>
</body>
</html>
