<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <a class="Logo">Logo</a>

        <nav class="navbar">
            <a href="login.ejs">Logout</a>
        </nav>
    </header>
    <div class="container">
        <div class="form-section">
            <h2>Login</h2>
            <h2>Register</h2>
            <form>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="username" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="hhttps://pin.it/1p9BfGU2v"></div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>