<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>Login</title>
</head>

<body>
    <header class="header">
        <a class="Logo">Perpustakaan</a>
    </header>
    <div class="container">
        <div class="form-section">
            <div class="Row" style="font-size: 28px">
                <a class="navbar" href="<%= url %>login">Login</a>
                <a class="navbar" href="<%= url %>register">Register</a>
            </div>
            <br> <br>
            <form action="<%= url %>login/auth" method="POST">
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="username" name="username" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="dropdown-container">
                    <label for="role">Login as:</label>
                    <select class="dropdown" name="role" id="role" required>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="image-container">
            <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODA3MTcwLXdpa2ltZWRpYS1pbWFnZS1rb3drdW55dS5qcGc.jpg"
                alt="Half Image" style="width: 400px; clip-path: circle(75% at 100% 50%);">
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>