<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>

<body>
    <header class="header">
        <a class="Logo">Perpustakaan</a>

        <nav class="navbar">
            <a href="<%= url %>login">Kembali</a>
        </nav>
    </header>
    <div class="container">
        <div class="form-section">
            <div class="Row" style="font-size: 28px">
                <a href="<%= url %>login" style="margin-right: 20px;">Login</a>
                <a href="<%= url %>register">Register</a>
            </div>
            <br> <br>

            <form action="<%= url %>register/save" method="POST">
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" name="email" placeholder="masukkan Email" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="pw_user" placeholder="masukkan password" required>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="side-pic">
            <img src="https://i.pinimg.com/736x/bc/a9/9f/bca99faefba0e082b84478e1fd9f45f0.jpg"
                style="width: 400px; clip-path: circle(75% at 100% 50%);">
        </div>
    </div>


    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>